* {
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
  font-family: Nunito; }

body {
  background-color: whitesmoke;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

header {
  background-color: #E09137;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: fit-content;
  padding: 0% 5% 0% 1.8%;
  align-items: center;
  font-size: auto;
  width: 100%;
  height: 20%;
  background-color: #E09137; }
  header #menu {
    width: 23%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.5em; }
  header #logo {
    color: #F1E8B0;
    height: 100%;
    text-transform: uppercase;
    width: 60%; }
  header .search-bar {
    align-items: center;
    border: solid .1875rem;
    border-color: #FFEBAC;
    border-radius: 0.85rem;
    color: #FFEBAC;
    display: flex;
    flex-direction: row;
    height: 60%;
    width: 12%; }
    header .search-bar .searchere {
      display: flex;
      flex-direction: row;
      width: 66%; }
      header .search-bar .searchere p {
        margin-left: 33%;
        font-size: 1.1em;
        width: 100%; }
      header .search-bar .searchere a {
        margin-right: 1em; }
  header #account {
    width: 7%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 1em; }

h1::first-letter {
  text-transform: capitalize; }

.welcome-page__main {
  width: 90%;
  height: max-content;
  padding: 10% 5%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: 'title             title' 'main__information  main__image'; }
  .welcome-page__main .title {
    grid-area: title;
    width: 100%;
    font-size: 7.5em;
    color: #E09137; }
  .welcome-page__main .main__information {
    grid-area: main__information;
    width: 100%;
    height: 100%; }
    .welcome-page__main .main__information .description {
      font-size: 100%;
      opacity: 0.5;
      margin-bottom: 17%; }
      .welcome-page__main .main__information .description p {
        font-size: 2.8em;
        margin-left: 10px; }
    .welcome-page__main .main__information .information {
      width: 100%;
      font-size: 100%; }
      .welcome-page__main .main__information .information p {
        margin-left: 6%;
        font-size: 3.23em;
        line-height: 4.0625rem; }
    .welcome-page__main .main__information a {
      display: flex;
      flex-direction: row;
      justify-content: center;
      color: black;
      border: solid 0.3rem #B1CA9C;
      font-size: 100%;
      text-transform: uppercase;
      border-radius: 1em;
      top: 8rem;
      margin: 20%;
      padding: 5% 5%;
      opacity: 0.8;
      align-items: center; }
      .welcome-page__main .main__information a p {
        letter-spacing: 0.3rem;
        font-size: 1.2em; }
      .welcome-page__main .main__information a img {
        width: 10%;
        scale: 0.45;
        filter: brightness(1%); }
  .welcome-page__main .main__image {
    grid-area: main__image;
    width: 100%;
    height: 100%; }
    .welcome-page__main .main__image .img {
      width: 100%;
      height: 100%; }

.courses-page__main {
  padding: 10% 5%;
  display: flex;
  flex-direction: row; }
  .courses-page__main .main__information .tittle-oc {
    width: 100%;
    height: 65%;
    font-size: 100%; }
    .courses-page__main .main__information .tittle-oc h1 {
      font-size: 8em;
      color: #E09137; }
  .courses-page__main .main__information .description {
    font-size: 2.9em;
    margin-left: 8px;
    opacity: 0.5; }
  .courses-page__main .main__image {
    width: 20%;
    height: 100%;
    background-color: #E09137; }

.courses {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%; }
  .courses article {
    margin-top: 5%;
    width: 30em;
    height: 24.15em;
    background-color: #B1CA9C; }
  .courses .marketing {
    background: url(file:///Users/gustavo.morales/Downloads/marketing.svg) no-repeat;
    background-size: cover; }
  .courses .financial-managment {
    background: url(file:///Users/gustavo.morales/Downloads/marketing.svg) no-repeat;
    background-size: cover; }
  .courses .mindfullness {
    background: url(file:///Users/gustavo.morales/Downloads/marketing.svg) no-repeat;
    background-size: cover; }

.courses-description {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: center;
  gap: 30px; }
  .courses-description div {
    width: 80em;
    height: 20em;
    background-color: #E09137; }

/*# sourceMappingURL=style.css.map */
