$success-color: #97C2B6;
$error-color: #D80027;

$brand-color-brown:#6A461D;
$brand-color-orange:#E09137;
$brand-color-yellow:#FECE2F;
$brand-color-light-yellow:#FEE282;
$brand-color-cream:#FFEBAC;
$brand-color-light-green:#B1CA9C;
$brand-color-green:#5A6352;

$karla-font: 'Karla', sans-serif;
$nunito-font: 'Nunito', sans-serif;

@mixin section-rectangle {
  display: flex;
  background-color: white;
  border: solid 3px;
  border-color: $brand-color-yellow;
  border-radius: 7px;
  height: 269px;
  margin-bottom: 1%;
  width: 859px;
  padding: 1%;
}
@mixin section-rectangle__hover{
  background-color: #FECE2F;
  border: solid 3px;
  border-color: $brand-color-yellow;
  border-radius: 7px;
  height: 269px;
  margin-bottom: 1%;
  width: 859px;
}

*{
  margin: auto;
  a{
    text-decoration: none;
  }

  .title{
    font-family: $nunito-font;
    font-weight: bold;
    font-size: 6rem;
    color: $brand-color-orange;
  }

  .title-main{
    margin-right: 90px;

  }

  .description{
    font-family: $nunito-font;
    font-size: 2.25rem;
    opacity: 60%;
  }

  #title-section{
    display: flex;
    margin-bottom: 14%;
    .main__title{
      margin-right: 0%;
    }
    .main__image{
      margin-left: 0%;
    }
  }

  #btn-default{
    align-items: center;
    background-color: white;
    border-radius: 24px;
    border: 3px solid $brand-color-light-green;
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 6px 20px;
 
    a{
      color: $brand-color-green;
      display: flex;
      flex-direction: row;
      font-weight: bold;
      font-family: $nunito-font;
      font-size: 1.6875rem;
      gap: 8px;
      letter-spacing: 0.15em;
      text-transform: uppercase;

      /* Inside auto layout */

      flex-grow: 0;
      flex: none;
      order: 0;

      img{
        width: 10px;
        height: 16px;
        margin-top: 10px;
      }
      }

    
  }
  
  #btn-default:hover{
    background-color: $brand-color-light-green;
  }

  #btn-default:disabled{
    opacity: 70%;
  }
}

header{
  background-color: $brand-color-orange;
  width: 100%;
  padding: 1%;
  display: flex;
  flex-direction: row;

    #logo{
      font-family: $nunito-font;
      font-weight: 900;
      font-size: 2.25rem;
      letter-spacing: 2.56px;
      color: $brand-color-cream;
      margin-left: 5%;
    }

    .search-bar{
      border: solid 3px;
      border-color: $brand-color-cream;
      border-radius: 30px;
      width: 245px;
      padding: 10px;
      margin: 0;
      margin-left: 4%;
      margin-right: 40%;

     .searchere{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: $brand-color-cream;
      font-family: $nunito-font;
      font-weight: bold;
     }

     button{
      border: none;
      background: none;
     }
    }

    .account-menu{
      margin-left: auto;
      margin-right: 6%;
      margin-top: auto;

      #account{
        margin-right: 20px;
      }
    }

}

main{
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 7%;
  margin-left: 10%;
  margin-right: 10%;

  .information{
    font-family: $karla-font;
    font-size: 2.25rem;
    justify-self: left;
    margin-bottom: 14%;
  }

  #main-section{
    display: flex;
    flex-direction: row;
  }

  button{
    margin-left: 30%;
  }

  .main-img{
    width: 608px;
    height: 455px;
  }
}

#courses-page__main{
  display: flex;
  flex-direction: row;
}

#courses-container{
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}
.courses{
  margin-bottom: 4%;
  display: flex;
  flex-direction: row;
  gap: 3%;
  justify-content: center;
  .a-courses{
    border: solid 5px;
    background-color: $brand-color-light-yellow;
    border-color: $brand-color-yellow;
    border-radius: 30px 0px 30px 0px;
    height: 293.72px;
    padding: 1%;
    width: 357.8px;
    opacity: 60%;
  }

  .a-courses:focus{
    border: solid 5px;
    background-color: $brand-color-light-yellow;
    border-color: $brand-color-yellow;
    border-radius: 30px 0px 30px 0px;
    height: 293.72px;
    padding: 1%;
    width: 357.8px;
    opacity: 100%;
     }

     .a-courses:hover{
    border: solid 5px;
    background-color: $brand-color-light-yellow;
    border-color: $brand-color-yellow;
    border-radius: 30px 0px 30px 0px;
    height: 293.72px;
    padding: 1%;
    width: 357.8px;
    opacity: 100%;
    }
    
  .mindfullness{
    img{
      margin-top: 4%;
    }
  }
}

#courses-description{
  display: flex;
  flex-direction: column;

  h2{
    font-family: $karla-font;
    font-weight: bolder;
    font-size: 2.5rem;
    color: $brand-color-orange;
  }

  section{
    @include section-rectangle;
  }

  section:hover{
    @include section-rectangle__hover()
  }

  .number{
    color: $brand-color-orange;
    font-family: $karla-font;
    font-size: 8rem;
  }

  p{
    color: $brand-color-brown;
    font-family: $karla-font;
    font-size: 2.25rem;
  }

  #btn-default{
    p{
      font-family: $nunito-font;
      color: $brand-color-green;
      font-weight: bold;
      font-size: 1.6875rem;
    }
  }

  .midd-container{
    display: flex;
    flex-direction: column;
    p{
      margin: auto;
      margin-left: 10%;    
    }
    button{
      opacity: 60%;
      border: none;
      background: none;
      p{
        font-family: $nunito-font;
        font-size: 1.5rem;
      }
      img{
        margin-left: 10px;

      }
    }
  }
}

#connect-page__main{
  section{
    flex-direction: column;
    @include section-rectangle;
  }
  .section:hover{
    @include section-rectangle__hover()
  }

  .connect-top{
    margin: 0%;
    display: flex;
    gap: 50%;
    p{
      font-family: $nunito-font;
      font-size: 2rem;
      font-weight: 500;
      color: $brand-color-orange;
    }
    .connect-user{
      display: flex;
      p{
        font-family: $karla-font;
        font-size: 1.25rem;
        color: $brand-color-brown;
        opacity: 60%;
      }
    }

    .icon-use:hover{
      fill: $brand-color-orange;
    }
  }
}


@media screen and (max-width: 840px) {
  // body {
  //   background-color: #6A461D;
  // }
  header {
    width: 100%;
    align-items: center;
    .search-bar {
      border: solid $brand-color-orange;
      margin-left: 4px;
      width: 35px;
      height: 35px;
      margin: auto;
      transition: all 1s;
      .searchere {
        margin: 0;
        width: 30px;
        p {
          position: absolute;
          margin: 0;
          visibility: hidden;
        }
      }
    }
    .account-menu {
      width: fit-content;
      display: flex;
      gap: 2px;
      // a {
      //   border: solid 1px ;
      // }
      #account {
        position: absolute;
        visibility: hidden;
      }
    }
  }
  #welcome-page__main {
    margin: 0;
    width: 100%;
    padding: 0px 12px;
    #title-section {
      .title {
        margin: auto;
        font-size: 2em;
        transition: all 600ms;
      }
      .main__information {
        .description {
          font-size: 1em;
        transition: all 600ms;
        }
      }
    }
    #main-section {
      display: flex;
      flex-direction: row;
      gap: 5%;
      .info-container {
        width: 47.5%;
        .information {
          p {
            font-size: 0.6em;
          }
        }
        #btn-default {
          position: absolute;
          top: 70%;
          left: 1%;
          width: 200px;
          height: 50px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          transition: all 600ms;
          a {
            width: 100%;
            p {
              font-size: 0.3em;
            }
          }
        }
      }
      .main__image {
        position: absolute;
        width: 60%;
        top: 30%;
        right: 10px;
        padding-right: 20px;
        .main-img {
            margin: 0%;
            width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 840px) {
  // body {
  //   background-color: #6A461D;
  // }
  header {
    width: 100%;
    align-items: center;
    .search-bar {
      border: solid $brand-color-orange;
      margin-left: 4px;
      width: 35px;
      height: 35px;
      margin: auto;
      transition: all 1s;
      .searchere {
        margin: 0;
        width: 30px;
        p {
          position: absolute;
          margin: 0;
          visibility: hidden;
        }
      }
    }
    .account-menu {
      width: fit-content;
      display: flex;
      gap: 2px;
      // a {
      //   border: solid 1px ;
      // }
      #account {
        position: absolute;
        visibility: hidden;
      }
    }
  }
  #welcome-page__main {
    margin: 0;
    width: 100%;
    padding: 0px 12px;
    #title-section {
      .title {
        @include titles;
      }
      .main__information {
        .description {
          @include descriptions;
        }
      }
    }
    #main-section {
      display: flex;
      flex-direction: row;
      gap: 5%;
      .info-container {
        width: 47.5%;
        .information {
          p {
            font-size: 0.6em;
          }
        }
        #btn-default {
          position: absolute;
          top: 70%;
          left: 1%;
          width: 200px;
          height: 50px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          transition: all 600ms;
          a {
            width: 100%;
            p {
              font-size: 0.3em;
            }
          }
        }
      }
      .main__image {
        position: absolute;
        width: 60%;
        top: 30%; 
        right: 10px;
        padding-right: 20px;
        .main-img {
            margin: 0%;
            width: 100%;
        }
      }
    }
  }
  #title-section {
    padding: 0% 2%;
    .main__title {
      width: 70%;
      font-size: 12px;
      margin: auto;
      .title {
        @include titles;
      }
      .description {
        @include descriptions;
      }
    }
    .main__image {
      position: absolute;
      scale: 0.6;
      top: 15%;
      left: 50%;
    }
  }
  #courses-container {
    .courses {
      margin-top: 100px;
      width: 100%;
      height: auto;
      max-height: auto;
      display: flex;
      flex-direction: column;
      gap: 15px;
      .a-courses {
        width: 70%;
        height: auto;
        transition: all 600ms;
        article {
          img {
            width: 80%;
          }
        }
      }
    }
  }
}
