$success-color: #97C2B6;
$error-color: #D80027;

$brand-color-brown:#6A461D;
$brand-color-orange:#E09137;
$brand-color-yellow:#FECE2F;
$brand-color-light-yellow:#FEE282;
$brand-color-cream:#FFEBAC;
$brand-color-light-green:#B1CA9C;
$brand-color-green:#5A6352;